.container {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container p {
    text-align: center;
}

.container p.huge {
    font-size: 80px;
}

.container img {
    width: 300px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.container button {
    font-size: 70px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
}

.container button:hover {
    background: rgb(36, 36, 36);
    cursor: pointer;
}